# Service for KMonad

[Unit]
Description=KMonad service

[Service]
Type=oneshot
WorkingDirectory=/home/steve/Projects/keyboard/seniply/downloads/kmonad
ExecStart=/home/steve/bin/kmonad colemak-dh-seniply-iso-wide.kbd

[Install]
WantedBy=default.target
