
ul li {
   margin:0 0 16px 0;   
}

/* Modal images */
#modal {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#modal:hover {opacity: 0.95;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 200px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(202,202,202);
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  //width: 100%;
  //max-width: 700px;
}

.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.2s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
} 


/* styles for slideshow */

.slideshow-container {
	position: relative;
	margin: auto;
}

.slide_prev, .slide_next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -40px;
	padding: 12px;
	color: #555;
	font-weight: bold;
	font-size: 30px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

.slide_next {
	right: 0;
}

.slide_prev:hover, .slide_next:hover {
	background-color: rgba(0,0,0,0.5);
}

.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.0s;
	animation-name: fade;
	animation-duration: 1.0s;
}

@-webkit-keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}
